@page "/Decks/{DeckId:long}/Cards/{CardId:long}/Statistics/"

@using SpacedRepetitionSystem.ViewModels.Statistics;
@using SpacedRepetitionSystem.Entities.Entities.Cards;
@using SpacedRepetitionSystem.Components.Interaction;
@using SpacedRepetitionSystem.Components.ViewModels;
@using SpacedRepetitionSystem.Components.Data;
@using Blazorise.DataGrid;
@using SpacedRepetitionSystem.Components.Edits;
@using SpacedRepetitionSystem.Components.Containers;

@inherits PageBase<CardStatisticsViewModel>

<ViewModelArea ViewModel="ViewModel">
  <TabCard Title="@ViewModel?.Title" IsLoading="@IsLoading" BodyClass="d-flex">
    <CardTabs>
      <CardTab Title="Overview">
        <div class="d-flex flex-column flex-grow-1" style="max-width: 100%">
          <h5 class="card-title">Settings</h5>
          <DropDownEdit CaptionWidth="120" Caption="Data Source" SelectableValues="ViewModel.SelectableDisplayUnits" @bind-Value="ViewModel.SelectedDisplayUnit"></DropDownEdit>
          <DropDownEdit CaptionWidth="120" Caption="Timespan" SelectableValues="ViewModel.SelectableDisplayPeriods" @bind-Value="ViewModel.SelectedDisplayPeriodText"></DropDownEdit>
          <h5 class="card-title">Data</h5>
          <div class="d-flex chart-container">
            <div class="d-flex flex-grow-1 summary-element flex-column justify-content-center align-items-center">
              <h3 class="mb-4">Total</h3>
              <CustomPieChart @ref="@pieChart" BackgroundColors="backgroundColors" TItem="int" Labels="chartLabels" BorderColors="borderColors" Values="ViewModel.PieChartData"></CustomPieChart>
            </div>
            <div class="d-flex flex-grow-1 summary-element flex-column justify-content-center align-items-center">
              <h3 class="mb-4">Practice History</h3>
              <CustomLineChart @ref="@lineChart" BackgroundColors="backgroundColors" TItem="int" Labels="ViewModel.LineChartLabels.ToArray()" BorderColors="borderColors" Values="ViewModel.LineChartData"></CustomLineChart>
            </div>
          </div>
        </div>
      </CardTab>
      <CardTab Title="Practice History">
        <div class="d-flex flex-column flex-grow-1">
          <h5 class="card-title mb-4">Practice History</h5>
          <SearchGrid TItem="PracticeHistoryEntry"
                      Items="@ViewModel.PracticeHistoryEntries"
                      PageSize="10" SelectionEnabled="false"
                      ShowPager="true">
            <Columns>
              <DataGridColumn TItem="PracticeHistoryEntry"
                              Field="@nameof(PracticeHistoryEntry.PracticeDate)"
                              Caption="Practice Date" Sortable="true">
                <DisplayTemplate>
                  @context.PracticeDate.ToString("dd/MM/yyyy")
                </DisplayTemplate>
              </DataGridColumn>
              <DataGridColumn TItem="PracticeHistoryEntry"
                              Field="@nameof(PracticeHistoryEntry.PracticeHistoryEntryId)"
                              Caption="Field Name" Sortable="true">
                <DisplayTemplate>
                  @context.Field.FieldName
                </DisplayTemplate>
              </DataGridColumn>
              <DataGridColumn TItem="PracticeHistoryEntry"
                              Field="@nameof(PracticeHistoryEntry.CorrectCount)"
                              Caption="Correct" Sortable="true" CellClass="@((item) => "right")" />
              <DataGridColumn TItem="PracticeHistoryEntry"
                              Field="@nameof(PracticeHistoryEntry.HardCount)"
                              Caption="Hard" Sortable="true" CellClass="@((item) => "hard")" />
              <DataGridColumn TItem="PracticeHistoryEntry"
                              Field="@nameof(PracticeHistoryEntry.WrongCount)"
                              Caption="Wrong" Sortable="true" CellClass="@((item) => "wrong")" />
            </Columns>
          </SearchGrid>
        </div>
      </CardTab>
    </CardTabs>
    <HeaderButtons>
      <Button Command="@ViewModel?.CloseCommand" IsIconButton="true" TextColor="#e74c3c"></Button>
    </HeaderButtons>
  </TabCard>
</ViewModelArea>

<style>
  .summary-element {
    width: 50%;
    max-width: 50%;
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  @@media (max-width: 1200px) {
    .summary-element {
      width: 100%;
      max-width: 100%;
      margin-top: 2em;
      margin-bottom: 2em;
    }

    .chart-container {
      flex-direction: column !important;
    }
  }
</style>

@code
{
  private string[] chartLabels = { "Correct/Easy", "Hard", "Wrong" };
  private List<string> borderColors = new List<string>() { "#88d5d5", "#ffa854", "#ffa1b5" };
  private List<string> backgroundColors = new List<string>() { "#dbf2f2", "#ffecd9", "#ffe0e6" };
  private List<int> resultValues = new List<int>();
  private CustomPieChart<int> pieChart;
  private CustomLineChart<int> lineChart;

  /// <summary>
  /// Id of the card
  /// </summary>
  [Parameter]
  public long CardId { set => ViewModel.Id = value; }

  /// <summary>
  /// Id of the deck
  /// </summary>
  [Parameter]
  public long DeckId { get; set; }

  ///<inheritdoc/>
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await base.OnAfterRenderAsync(firstRender);
    if (firstRender)
    {
      await pieChart.Redraw();
      await lineChart.Redraw();
      ViewModel.RefreshAction = async () =>
      {
        await lineChart.Redraw();
        await pieChart.Redraw();
      };
    }
  }
}