@page "/Cards"
@page "/Decks/{DeckId:long}/Cards"

@using SpacedRepetitionSystem.Components.ViewModels;
@using SpacedRepetitionSystem.Entities.Entities.Cards;
@using SpacedRepetitionSystem.Components.ViewModels.Cards;
@using SpacedRepetitionSystem.Components.Interaction;

@inherits SearchPageBase<Card, CardSearchViewModel>

<ViewModelArea ViewModel="@ViewModel">
  <div class="card flex-grow-0 fullsizeCard">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-auto">
          Search Cards
        </div>
        <div class="col d-flex justify-content-end">
          <Button Command="@ViewModel?.CloseCommand" IsIconButton="true" TextColor="#e74c3c"></Button>
        </div>
      </div>
    </div>
    <div class="card-body scrollable">
      <WaitSpinner Visible="ViewModel.IsSearching">
        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="th-sm">
                ID
              </th>
              <th class="th-sm">
                Deck
              </th>
              <th class="th-sm">
                Field 1
              </th>
              <th class="th-sm">
                Field 2
              </th>
              <th class="th-sm">
                Field 3
              </th>
              <th class="th-sm buttonCol"></th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in ViewModel.SearchResults)
            {
              <tr>
                <td><a href="/Cards/@item.CardId">@item.CardId</a></td>
                <td><a href="/Decks/@item.DeckId">@item.Deck?.Title</a></td>
                <td>@item.Fields[0].Value</td>
                <td>@item.Fields[1].Value</td>
                <td>@(item.Fields.Count > 2 ? item.Fields[2].FieldName : "")</td>
                <th class="buttonCol">
                  <Button CommandParameter="item" Class="colButton" TextColor="black" IsIconButton="true" Command="ViewModel.DeleteCommand"></Button>
                </th>
              </tr>
            }
          </tbody>
        </table>
      </WaitSpinner>
    </div>
  </div>
</ViewModelArea>

@code
{
  /// <summary>
  /// Id of the deck
  /// </summary>
  [Parameter]
  public long? DeckId { set => ViewModel.DeckId = value; }

  ///<inheritdoc/>
  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
    await ViewModel.Search();
  }
}
