@page "/Decks"

@using SpacedRepetitionSystem.Components.ViewModels;
@using SpacedRepetitionSystem.Entities.Entities.Cards;
@using SpacedRepetitionSystem.Components.ViewModels.Cards;
@using SpacedRepetitionSystem.Components.Interaction;
@using Blazorise.DataGrid;

@inherits SearchPageBase<Deck, DeckSearchViewModel>

<ViewModelArea ViewModel="@ViewModel">
  <div class="card flex-grow-0 fullsizeCard">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-auto">
          Search Decks
        </div>
        <div class="col d-flex justify-content-end">
          <Button Command="@ViewModel?.CloseCommand" IsIconButton="true" TextColor="#e74c3c"></Button>
        </div>
      </div>
    </div>
    <div class="card-body scrollable">
      <WaitSpinner Visible="ViewModel.IsSearching">
        <DataGrid TItem="Deck"
                  Data="@ViewModel.SearchResults" ShowPager="true"
                  @bind-SelectedRow="@ViewModel.SelectedEntity" Editable="true"
                  Striped="true" Bordered="true" Hoverable="true"
                  PageSize="12">
          <DataGridCommandColumn TItem="Deck" Width="160px">
            <EditCommandTemplate>
              <Button Class="grid-edit-button column-button" CommandParameter="@context.Item" Command="@ViewModel?.EditCommand"></Button>
            </EditCommandTemplate>
            <DeleteCommandTemplate>
              <Button Class="grid-delete-button column-button" CommandParameter="@context.Item" Command="@ViewModel?.DeleteCommand"></Button>
            </DeleteCommandTemplate>
            <NewCommandTemplate>
              <Button Class="grid-new-button column-button" Command="@ViewModel?.NewCommand"></Button>
            </NewCommandTemplate>
          </DataGridCommandColumn>
          <DataGridColumn TItem="Deck"
                          Field="@nameof(Deck.DeckId)"
                          Caption="#" Sortable="true">
            <DisplayTemplate>
              <a href="@("/Decks/" + @context.DeckId)">@context.DeckId</a>
            </DisplayTemplate>
          </DataGridColumn>
          <DataGridColumn TItem="Deck"
                          Field="@nameof(Deck.Title)"
                          Caption="Title" Sortable="true" />
          <DataGridColumn TItem="Deck"
                          Field="@nameof(Deck.CardCount)"
                          Caption="Cards" Sortable="false" />
          <DataGridColumn TItem="Deck"
                          Field="@nameof(Deck.DueCardCount)"
                          Caption="Cards" Sortable="false" />
          <DataGridColumn TItem="Deck" Width="100"
                          Field="@nameof(Deck.DeckId)"
                          Caption="" Sortable="false">
            <DisplayTemplate>
              @{
                <Button CommandParameter="context.DeckId" Class="grid-edit-button column-button" Command="ViewModel.PracticeDeckCommand"></Button>
              }
            </DisplayTemplate>
          </DataGridColumn>
          <DataGridColumn TItem="Deck" Width="130"
                          Field="@nameof(Deck.DeckId)"
                          Caption="" Sortable="false">
            <DisplayTemplate>
              @{
                <Button CommandParameter="(context as Deck).DeckId" Class="grid-new-button column-button" Command="ViewModel.AddCardsCommand"></Button>
              }
            </DisplayTemplate>
          </DataGridColumn>
        </DataGrid>
      </WaitSpinner>
    </div>
  </div>
</ViewModelArea>

@code
{
  ///<inheritdoc/>
  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
    await ViewModel.Search();
  }
}
