@inherits EditBase

<div class="row d-flex flex-fill @Class" style="align-items: center; margin-left: 10px; margin-right: 10px; @Style" id="@Id">
  @if (Property != null && !string.IsNullOrEmpty(Property.ErrorText))
  {
    <div class="col-auto" style="padding: 0px; margin-right: 7px;">
      <span class="oi oi-circle-x" data-toggle="tooltip" title="@Property.ErrorText" style="color: #e74c3c; font-size:1.2rem" aria-hidden="true"></span>
    </div>
  }
  <div class="input-group mb-3 col flex-fill" style="width: unset; padding: 0px; margin-top: 10px; margin-bottom: 10px;">
    <div class="input-group-prepend">
      <span class="input-group-text bg-dark text-white" style="width: @(CaptionWidth)px;">@Caption</span>
    </div>
    @if (Property != null)
    {
      <input placeholder="@Placeholder" autocomplete="off" id="@(Id + "-input")" disabled="@(!IsEnabled)" type="text" class="form-control" @bind="Property.Value" @bind:event="oninput" @onkeydown="KeyDown" />
    }
    else
    {
      <input placeholder="@Placeholder" autocomplete="off" id="@(Id + "-input")" disabled="@(!IsEnabled)" type="text" class="form-control" @bind="Value" @bind:event="oninput" @onkeydown="KeyDown" />
    }
    <div class="input-group-append">
      @ChildContent
      @if (!string.IsNullOrEmpty(ButtonText))
      {
        <button disabled="@(!IsEnabled)" class="btn btn-outline-secondary" type="button" id="button-addon1" @onclick="() => ButtonAction()">@ButtonText</button>
      }
    </div>
  </div>
</div>

@code
{
  private string value;

  /// <summary>
  /// ChildContent
  /// </summary>
  [Parameter]
  public RenderFragment ChildContent { get; set; }


  /// <summary>
  /// Value of the text edit
  /// </summary>
  [Parameter]
  public string Value
  {
    get => value;
    set
    {
      if (Value != value)
      {
        this.value = value;
        ValueChanged.InvokeAsync(value);
      }
    }
  }

  /// <summary>
  /// The Placeholder text
  /// </summary>
  [Parameter]
  public string Placeholder { get; set; }

  /// <summary>
  /// Text of the button
  /// </summary>
  [Parameter]
  public string ButtonText { get; set; }

  /// <summary>
  /// Action of the button
  /// </summary>
  [Parameter]
  public Action ButtonAction { get; set; }

  /// <summary>
  /// Action when pressing enter
  /// </summary>
  [Parameter]
  public Action EnterAction { get; set; }

  /// <summary>
  /// Value changed event
  /// </summary>
  [Parameter]
  public EventCallback<string> ValueChanged { get; set; }

  private void KeyDown(KeyboardEventArgs e)
  {
    if (e.Key == "Enter" && EnterAction != null)
      EnterAction.Invoke();
  }
}