@using SpacedRepetitionSystem.Components.ViewModels.Identity;
@using SpacedRepetitionSystem.Components.ViewModels;

@page "/Signup"

@inherits PageBase<SignupViewModel>

  <ViewModelArea ViewModel="ViewModel">
    <SpacedRepetitionSystem.Components.Interaction.WaitSpinner Visible="ViewModel.IsBusy">
    <div class="d-flex flex-column flex-grow-1 justify-content-center align-items-center">
      <EditForm Model="@ViewModel.User" OnValidSubmit="@ViewModel.SubmitAsync">
        <div class="login-container">
          <div>
            <h3 style="font-weight:bold; color:#343a40">Repetition System Register</h3>
          </div>
          <div>
            <br />
          </div>
          <div class="col-12 row">
            <input class="form-control col-12 @(ViewModel.HasEmailError ? "error-border" : null)" @bind="ViewModel.User.Email" placeholder="email address" />
          </div>
          <br />
          <div class="col-12 row">
            <input type="password" class="form-control col-12 @(ViewModel.HasPasswordError ? "error-border" : null)" @bind="ViewModel.User.Password" placeholder="password"/>
          </div>
          <br />
          <div class="col-12 row">
            <input type="password" class="form-control col-12 @(ViewModel.HasConfirmPasswordError ? "error-border" : null)" @bind="ViewModel.ConfirmPassword" placeholder="confirm password"/>
          </div>
          <br />
          <div class="col-12 row" style="text-align:left; font-weight:bold">
            <span class="col-12 wrong">@ViewModel.ErrorMessage</span>
          </div>
          <br />
          <div class="col-12 row d-flex align-items-center">
            <span class="col-12"></span>
            <input type="submit" class="form-control col-6 btn btn-primary" value="Sign up" />
            <a href="/Login" class="col-6">Already an user?</a>
          </div>
        </div>
      </EditForm>
    </div>
    </SpacedRepetitionSystem.Components.Interaction.WaitSpinner>
  </ViewModelArea>

<style>
</style>

@code
{ }